/*  ************************ Tag Specifier c3f0ca fbf4f9******************** */
body{
  background-color:#edffea;
  margin:0;
  text-align: center;
  /* adding font family
  font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif; */
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    margin: 0;
    padding-top: 10px;
    margin-bottom: 0;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #75daad;
}
h2{
  color: #11999E;
}
h3{
  color: #11999E;
}
p{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top:10px;
  padding-bottom: 10px;
}
a{
  color: #11999E;
}

/* ************************ Class Selector ************************************* */
.sub{
  color:#2a7886;
}
.top-container{
  background-color:#ccedd2;
  position: relative;
  padding-top:0;
  top: 30px;
  padding-bottom: 5px;
}
.middle-container{
  position: relative;
  bottom: 60px;
}
.bottom-container{
  background-color: #66BFBF;
  line-height: 2;
  padding-top: 20px;
}
.profile-pic{
    width: 15%;
    border-radius: 100%;
}
.top-cloud{
    height: 80px;
    width: 300px;
    position: relative;
    left: 300px;
    top: 35px;
}
.bottom-cloud{
      height: 80px;
      width: 250px;
      position: relative;
      top: -10px;
      right: 500px;
}
.skills{
  background-color: #fffdf9;
  margin: auto;
  padding-top: 1px;
  padding-bottom: 1px;
}
.skills-img{
  width: 20%;
  border-radius: 100%;
  padding: 10px;
}
.phone{
  height: 150px;
  width: 150px;
}
.skill-row{
  width: 50%;
  line-height: 2;
  text-align: left;
  /* margin: auto; */
  margin: 50px auto 100px auto;
}
.aem-skill{
  width: 25%;
  float: left;
  margin-right: 10px;
}
.java-skill{
  width: 25%;
  float: right;
}
/* ************************************* Id Selector  *********************  */
#hello{
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 2;
}
#desc{
  font-family: 'Cookie', cursive;
  font-size: 18px;
  line-height: 2;
  width: 50%;
  margin: auto;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
