/*  ************************ Tag Specifier c3f0ca fbf4f9******************** */
body{
  background-color:#edffea;
  margin:0;
  text-align: center;
  /* adding font family
  font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif; */
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    margin: 0;
    padding-top: 10px;
    margin-bottom: 0;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #75daad;
}
h2{
  color: #11999E;
}
h3{
  color: #11999E;
}
p{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top:10px;
  padding-bottom: 10px;
}
a{
  color: #11999E;
}

/* ************************ Class Selector ************************************* */
.sub{
  color:#2a7886;
}
.top-container{
  background-color:#ccedd2;
  position: relative;
  padding-top:0;
  top: 30px;
  padding-bottom: 5px;
}
.middle-container{
  position: relative;
  bottom: 60px;
}
.profile-pic{
    height: 200px;
    width: 200px;
    border-radius: 80%;
}
.top-cloud{
    height: 80px;
    width: 300px;
    position: relative;
    left: 300px;
    top: 35px;
}
.bottom-cloud{
      height: 80px;
      width: 250px;
      position: relative;
      top: -10px;
      right: 500px;
}
.skills-img{
  height: 200px;
  width: 200px;
  border-radius: 80%;
}
.phone{
  height: 150px;
  width: 150px;
}
/* ************************************* Id Selector  *********************  */
#hello{
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}
#desc{
  font-family: 'Cookie', cursive;
  font-size: 18px;
}
