/*  ************************ Tag Specifier c3f0ca fbf4f9******************** */
body{
  background-color:#edffea;
  margin:0;
  text-align: center;
  /* adding font family
  font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif; */
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    margin: 0;
    padding-top: 10px;
    margin-bottom: 0;
    font-family: 'Sacramento', cursive;
    font-size: xxx-large;
}
p{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top:10px;
  padding-bottom: 10px;
}

/* ************************ Class Selector ************************************* */
.top-container{
  background-color:#ccedd2;
  position: relative;
  padding-top:0;
  top: 30px;
  padding-bottom: 5px;
}
.profile-pic{
    height: 200px;
    width: 200px;
    border-radius: 80%;
}
.top-cloud{
    height: 80px;
    width: 300px;
    position: relative;
    left: 300px;
    top: 30px;
}
.bottom-cloud{
  height: 80px;
  width:250px;
  left: 150px;
  position: absolute;
  top: 210px;
}
.skills-img{
  height: 200px;
  width: 200px;
  border-radius: 80%;
}
.phone{
  height: 150px;
  width: 150px;
}
/* ************************************* Id Selector  *********************  */
#hello{
  font-family: 'Sacramento', cursive;
  font-size: xx-large;
  margin-top: 10px;
  margin-bottom: 5px;
}
